# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  init:
    setup:
      # specify the version you desire here
      - image: node:8.0.0

        working_directory: /app

  docker:
    steps:
      - setup_remote_docker
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin

  google:
    steps:
      - run:
          name: Install gcloud sdk
          command: ./install-gcloud.sh
      - run:
          name: Authenticate
          command: ./auth.sh

  build:
    steps:
      - checkout

      # build and push Docker image
      - run: |
          TAG=gcr.io/heb-cp-training/hello-node:v1
          docker build -t $TAG .

  deploy:
    steps:
      - run:
        name: Deploy to GCR
        command: ./deploy.sh

workflows:
  version: 2
  init_installs_build_deploy:
    jobs:
      - init
      - docker:
          requires:
            - init
      - google:
          requires:
            - init
      - build:
          requires:
            - docker
      - hold:
          type: approval
          requires:
            - build
      - deploy:
          requires:
            - hold

      # Download and cache dependencies
#      - restore_cache:
#          keys:
#          - v1-dependencies-{{ checksum "package.json" }}
#          # fallback to using the latest cache if no exact match is found
#          - v1-dependencies-
#
#      - run: npm install
#
#      - save_cache:
#          paths:
#            - node_modules
#          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
#      - run: npm test
